<div class="mt-4">
    <h1 style="margin-bottom: 50px; text-align: center;">
        Danh sách các loại cây
    </h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên loại cây</th>
                <th scope="col">Mô tả</th>
                <th scope="col">Ngày tạo</th>
            </tr>
        </thead>
        <tbody>
            {{#each crop}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.type}}</td>
                <td>{{this.description}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#delete-crop-modal"
                        data-bs-id="{{this._id}}">Xóa</a>
                </td>
                <td>
                    <a href="/crops/{{this._id}}/edit" class="btn btn-success">Sửa</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div class="modal fade" id="delete-crop-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn xóa loại cây này (Dữ liệu sẽ mất vĩnh viễn) ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btn-delete-crop">Xóa bỏ</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>

            </div>
        </div>
    </div>
</div>

{{!-- form delete crop --}}
<form method="POST" name="form-delete-crop">
</form>
<script>

    var exampleModal = document.getElementById('delete-crop-modal')
    exampleModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget
        var cropId;
        var formDeleteCrop = document.forms['form-delete-crop'];
        // Extract info from data-bs-* attributes
        cropId = button.getAttribute('data-bs-id')
        var btnDeleteCrop = document.getElementById('btn-delete-crop');
        btnDeleteCrop.onclick = function () {
            formDeleteCrop.action = '/crops/' + cropId + '?_method=DELETE';
            formDeleteCrop.submit();
        }
    })

</script>