{{!-- <div class="container" id="side-menu-crop">
    {{#each crop}}
    {{#if (eq this.slug ../seedtype)}}
    <a href={{this.slug}} class="first-crop">{{this.type}}</a>
    {{else}}
    <a href={{this.slug}} class="not-first-crop">{{this.type}}</a>
    {{/if}}
    {{/each}}
</div> --}}
<div class="card" id="side-menu-crop" style="width: 18rem;">
       {{#each crop}}
    {{#if (eq this.slug ../seedtype)}}
  <a href="/seed/{{this.slug}}" class="selected-crop">{{this.type}}</a>
    {{else}}
<a href="/seed/{{this.slug}}" class="not-selected-crop">{{this.type}}</a>
    {{/if}}
    {{/each}}
</div>
<div class="container" id="seed-all-page">
    <h1>Số giống cây: <h1 id="seed-leng">{{seed.length}}</h1>
    </h1>
    <div class="row">
   {{#each seed}}
     <div class="col-sm-6 col-lg-4  ">
        <div class="card card-seed-item shadow d-inline-block">
            <a href="/seed/{{this._id}}/detail" class="card-img-wrap">
             <img src={{this.image}} class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <a href="/seed/{{this._id}}/detail" class="btn btn-success position-absolute bottom-0 start-10" id="nutbam">Xem chi tiết</a>
                </div>
            </div>
         
        </div>
   {{/each}}
   </div>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>
</div>
<script>
    var test = document.getElementById("seed-leng");
    test.innerHTML = Math.floor(test.innerHTML / 9);
</script>
